<div>
    <hr class="text-primary">
    <div class="flex flex-col gap-3 my-5 md:flex-row-reverse md:justify-between md:my-0 md:px-18">
        <div class="flex justify-center items-center gap-5 md:gap-10 md:mr-20">
            <a class="h-auto w-10 md:w-8" target="_blank" href="https://www.linkedin.com/company/blossom-consultora-profesional">
                <div class="flex flex-col items-center">
                    <img src="/linkedinLogo.png">
                    <!-- <span class="text-primary md:hidden">Linkedin</span> -->
                </div>
            </a>
            <a class="h-auto w-10 md:w-8" target="_blank" href="https://teams.live.com/l/community/FAA5ZZRvfNW91U2mwI">
                <div class="flex flex-col items-center">
                    <img src="/microsoftTeamsLogo.png">
                    <!-- <span class="text-primary md:hidden">Microsoft Teams</span> -->
                </div>
            </a>
        </div>
        <div class="flex justify-center items-center">
            <img class="hidden md:block" src="/logo.png">
            <span class="text-sm md:text-lg">&copy; Blossom Consultora Profesional <span class="font-semibold">2025</span></span>
        </div>
    </div>
</div>