<div class="flex justify-center items-center gap-3 mb-10 mt-10 md:mt-0">
    <div class="flex items-center gap-3">
        <div class="circle-5 bg-primary"></div>
        <div class="circle-10 bg-primary"></div>
    </div>
    <h2 class="text-2xl text-primary font-bold">PRÓXIMAMENTE</h2>
    <div class="flex items-center gap-3">
        <div class="circle-10 bg-primary"></div>
        <div class="circle-5 bg-primary"></div>
    </div>
</div>

<div class="bg-[#DBDBDB] md:flex md:justify-between md:items-center md:h-110 md:rounded-l-6xl">
    <div class="flex flex-col justify-center w-[90%] mx-auto py-10 md:items-start md:px-15 md:py-32 md:w-350">
        <div>
            <h1 class="text-5xl text-primary font-bold md:text-7xl">Workshops</h1>
            <h2 class="text-4xl font-medium mb-5 md:text-5xl">en vivo</h2>
        </div>
        <p class="text-lg tracking-normal">
            Con nuestros talleres intensivos te ayudamos a desarrollar las habilidades
            necesarias para lograr tus metas y tomar decisiones clave en tu vida.
        </p>
        <!-- <button routerLink="/workshops" class="flex items-center rounded-xl bg-primary text-white text-lg mt-6 font-medium shadow-lg px-10 py-2 cursor-pointer">
            Unite al próximo encuentro
        </button> -->
    </div>
    <div class="hidden md:block">
        <img src="/workshops.png" class="w-270 h-auto translate-x-10">
    </div>
</div>