<div class="flex flex-col justify-between rounded-3xl border border-accent w-70">
    <div class="flex justify-center w-full h-58">
        <img [src]="course.imageCover" class="object-cover rounded-t-3xl">
    </div>
    <div class="flex flex-col px-5 pt-5 pb-2">
        <div class="overflow-hidden whitespace-nowrap">
            <h3 class="ma-0 text-base/5 font-semibold pb-3" scrollOnOverflow>{{ course.title }}</h3>
        </div>
        <!-- <span class="pb-4 text-base">Esta es una breve descripción del curso...</span> -->
        <div class="flex justify-between items-center pb-3">
            <span class="text-xs text-secondary bg-[#d9d9d9] py-1 px-4 rounded-sm">{{ course.topic.name }}</span>
            <span class="text-base">${{ course.price }}</span>
        </div>
        <div class="flex flex-col items-center">
            <button (click)="addToCart()" class="py-2 flex justify-center items-center w-full rounded-2xl bg-primary text-white font-semibold text-lg shadow-lg gap-2 cursor-pointer">
                Añadir al carrito
                <img src="/whiteShoppingCart.png">
            </button>
            <a ariaCurrentWhenActive="page" routerLinkActive="active" [routerLink]="['/course', course.id]" class="mt-4 underline text-secondary text-base font-extrabold">Ver más</a>
        </div>
    </div>
</div>