<div class="flex flex-col items-center gap-4 mb-16 md:mb-0">
    <img [src]="professional.avatar" class="w-70 h-70 rounded-full object-cover professional-img-gradient">
    <span class="text-accent text-center font-bold text-2xl">{{ professional.name }}</span>
    <p class="text-sm text-accent text-secondary text-center w-70">
        {{ professional.hobbies }}
    </p>
    <!-- <button class="py-2 flex justify-center items-center w-80 rounded-2xl bg-primary text-white font-semibold text-lg shadow-lg gap-2 cursor-pointer">
        Quiero mi consulta
    </button> -->
</div>